*{
    font-family: verdana;
}
body{
    background-color: #DFE8E8;
}

.container{
    background-color: #b2ebf2;
    width: 90%;
    margin: auto;
}

.menu_lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #175073;
}
  
.menu_lista li {
    float: left;
}
  
.menu_lista li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.menu_lista li a:hover:not(.active) {
    background-color: #639AA6;
}
  
.active {
    background-color: #639AA6;
}

.img_imagen{
    width: 50%;
}


.img_imagen2{
    width: 50%;
}
/*background-color: #42855B;
	position: absolute;
	height: 315px;
	width: 593px;
	left: 285px;
	top: 224px;*/

footer{
    background-color: #175073;
    padding: 20px 20px;
}